In [1]:
import pandas as pd
import numpy as np

# LinkedIn data cut 

from Lesley's 11k contacts. For Fly, match LinkedIn contacts to health systems (Definitive Healthcare IDNs).

## load data + reformat

In [45]:
df_contacts = pd.read_csv('Linked In Connections 010423 (1).csv')
df_IDNs = pd.read_csv('IDN_Full.csv')

In [46]:
df_contacts.head(5)

,Notes:,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"When exporting your connection data, you may n...",NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,First Name,Last Name,Email Address,Company,Position,Connected On
3,Anne,Levine,NaN,Dana-Farber Cancer Institute,Vice President of External Affairs,3-Jan-23
4,Vitaliy,Dyachenko,NaN,UppLabs,"CEO, Co-Founder",2-Jan-23

In [47]:
# rename header with row 2 + drop rows 0:2 + reset index 
df_contacts.rename(columns=df_contacts.iloc[2],inplace=True)
df_contacts.drop(df_contacts.index[0:3],inplace=True)#.reset_index()
df_contacts.reset_index(drop=True, inplace=True)
df_contacts.head(5)

,First Name,Last Name,Email Address,Company,Position,Connected On
0,Anne,Levine,NaN,Dana-Farber Cancer Institute,Vice President of External Affairs,3-Jan-23
1,Vitaliy,Dyachenko,NaN,UppLabs,"CEO, Co-Founder",2-Jan-23
2,Lisa,Morris,NaN,The University of Texas at Austin,Clinical Assistant Professor,27-Dec-22
3,Eric,Rosenkranz,NaN,Google,"Global Director, Cloud Marketplace Growth Team",27-Dec-22
4,Yatin,"Patil, MD, FACP",NaN,"SOUND PHYSICIANS ADVISORY SERVICES, INC.",Physician Advisor (Remote),27-Dec-22

In [23]:
df_IDNs.head()

,Definitive ID,IDN Name,IDN Integration Level,Address,Address1,City,State,# of Hospitals,IDN Parent,Net Patient Revenue,# of Staffed Beds,# of Discharges
0,4710,HCA Healthcare (FKA Hospital Corporation of Am...,System III (vertical integration),1 Park Plz,NaN,Nashville,TN,212.0,HCA Healthcare (FKA Hospital Corporation of Am...,"$47,913,761,889","42,821","1,899,289"
1,981465,CommonSpirit Health,System III (vertical integration),444 W Lake St,Suite 2500,Chicago,IL,165.0,CommonSpirit Health,"$31,019,616,953","19,596","827,797"
2,4695,Ascension Health,System III (vertical integration),4600 Edmundson Rd,NaN,Saint Louis,MO,129.0,Ascension Health,"$21,994,513,119","18,007","730,161"
3,4712,Trinity Health (FKA CHE Trinity Health),System IV (strategic integration),20555 Victor Pkwy,NaN,Livonia,MI,107.0,Trinity Health (FKA CHE Trinity Health),"$20,236,833,689","14,757","679,693"
4,4713,Kaiser Permanente,System IV (strategic integration),1 Kaiser Plz,Fl 9,Oakland,CA,43.0,Kaiser Permanente,"$21,466,800,788","9,773","438,141"

## analysis

In [69]:
df_contacts

,First Name,Last Name,Email Address,Company,Position,Connected On
0,Anne,Levine,NaN,Dana-Farber Cancer Institute,Vice President of External Affairs,3-Jan-23
1,Vitaliy,Dyachenko,NaN,UppLabs,"CEO, Co-Founder",2-Jan-23
2,Lisa,Morris,NaN,The University of Texas at Austin,Clinical Assistant Professor,27-Dec-22
3,Eric,Rosenkranz,NaN,Google,"Global Director, Cloud Marketplace Growth Team",27-Dec-22
4,Yatin,"Patil, MD, FACP",NaN,"SOUND PHYSICIANS ADVISORY SERVICES, INC.",Physician Advisor (Remote),27-Dec-22
...,...,...,...,...,...,...
11445,Hanaa,Issa,NaN,Doha Film Institute,Director of Film Funding & Programmes / Strate...,8-Oct-05
11446,Kayvan,Heravi,NaN,Sixth Street,Managing Director,8-Oct-05
11447,Jackie,Stone,NaN,LiveOne (NASDAQ: LVO),Chief Marketing Officer,3-Aug-05
11448,Emily,Shapiro Marty,NaN,Time Inc.,"Director of Marketing, Lifestyle Digital",22-Jul-05
11449,Matt,Schwartz,NaN,H.I. Executive Consulting (HIEC),Partner,6-Apr-05

In [65]:
idn_list = df_IDNs['IDN Name']
type(idn_list)

pandas.core.series.Series

In [68]:
# drop all NaN values 
df = df_contacts.dropna(subset=['Company'])
df

,First Name,Last Name,Email Address,Company,Position,Connected On
0,Anne,Levine,NaN,Dana-Farber Cancer Institute,Vice President of External Affairs,3-Jan-23
1,Vitaliy,Dyachenko,NaN,UppLabs,"CEO, Co-Founder",2-Jan-23
2,Lisa,Morris,NaN,The University of Texas at Austin,Clinical Assistant Professor,27-Dec-22
3,Eric,Rosenkranz,NaN,Google,"Global Director, Cloud Marketplace Growth Team",27-Dec-22
4,Yatin,"Patil, MD, FACP",NaN,"SOUND PHYSICIANS ADVISORY SERVICES, INC.",Physician Advisor (Remote),27-Dec-22
...,...,...,...,...,...,...
11445,Hanaa,Issa,NaN,Doha Film Institute,Director of Film Funding & Programmes / Strate...,8-Oct-05
11446,Kayvan,Heravi,NaN,Sixth Street,Managing Director,8-Oct-05
11447,Jackie,Stone,NaN,LiveOne (NASDAQ: LVO),Chief Marketing Officer,3-Aug-05
11448,Emily,Shapiro Marty,NaN,Time Inc.,"Director of Marketing, Lifestyle Digital",22-Jul-05
11449,Matt,Schwartz,NaN,H.I. Executive Consulting (HIEC),Partner,6-Apr-05

There were 228 contacts with no company names.

In [175]:
# Column contains particular value by multiple strings.
idn_names = '|'.join(idn_list)
contacts_IDN_exactmatch = df[df['Company'].str.contains(idn_names)]
contacts_IDN_exactmatch

/var/folders/zb/pm54_ytj0j970x5kd91_fp500000gn/T/ipykernel_66767/1539588245.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  contacts_IDN_exactmatch = df[df['Company'].str.contains(idn_names)]

,First Name,Last Name,Email Address,Company,Position,Connected On
11,Dr. Emir,"Leslie, DBA, MBA, MHS",NaN,Hawaii Pacific Health,Medical Sub-Specialty Practice Manager (Straub...,13-Dec-22
169,Daniel,Grossman,NaN,Mayo Clinic,Emergency Medicine Physician,20-Sep-22
227,Brian,"Livingston, MD, MBA",bjlivingston@hotmail.com,MultiCare Health System,President and Chief Physician Officer,11-Sep-22
254,Reed,Nelson MD MPH,NaN,Intermountain Healthcare,Associate Medical Director of Acute Pain Services,8-Sep-22
389,Mark,Schumacher,NaN,Mayo Clinic,"Vice Chair, User Experience",13-Jun-22
...,...,...,...,...,...,...
10457,Joe,"Vance, MHA, FACHE",NaN,University of Utah Health,"Senior Director, Community Physician Group",11-Nov-13
10502,Nick,Dougherty,NaN,Mass General Brigham Health Plan,Vice President of Digital,3-Oct-13
10526,Julie,Celano,NaN,The University of Kansas Health System,"Senior Vice President, Chief Human Resources O...",19-Aug-13
10611,Elizabeth,"Brott, AIA, EDAC",NaN,Sutter Health,Principal Architect,10-May-13
10656,Dénia-Marie,"Ollerton, M.A., CMHC",NaN,University of Utah Health,SafeUT Interim Manager,17-Mar-13

In [176]:
# export as csv
contacts_IDN_exactmatch.to_csv('contacts_IDN_exactmatch.csv')

caveats:
- This is a matching between LinkedIn contacts and Definitive Healthcare's IDN list, therefore there may be some health systems in the LinkedIn contacts that were not captured. (EX. Atrium Health is a physician-led organization acquired by Optum on May 31, 2022. It is not ...

just kidding...

## deeper dive into Definitive Healthcare's IDN Name column

In [83]:
#idn_names

In [76]:
df_IDNs[df_IDNs['IDN Name'].str.contains('Atrium Health')]

,Definitive ID,IDN Name,IDN Integration Level,Address,Address1,City,State,# of Hospitals,IDN Parent,Net Patient Revenue,# of Staffed Beds,# of Discharges
38,4697,Atrium Health (FKA Carolinas HealthCare System),System IV (strategic integration),1000 Blythe Blvd,NaN,Charlotte,NC,21.0,Advocate Health,"$5,238,795,403","3,357","150,426"
162,274053,Atrium Health Wake Forest Baptist (FKA Wake Fo...,System IV (strategic integration),1 Medical Center Blvd,NaN,Winston Salem,NC,7.0,Advocate Health,"$2,517,688,750","1,464","59,640"
375,550165,Atrium Health Navicent (FKA Navicent Health),System IV (strategic integration),777 Hemlock St,NaN,Macon,GA,7.0,Advocate Health,"$855,640,944",851,"34,211"
537,553389,Atrium Health Floyd (FKA Floyd Healthcare Mana...,System IV (strategic integration),304 Turner Mccall Blvd Sw,NaN,Rome,GA,3.0,Advocate Health,"$462,497,553",307,"13,513"

In [118]:
idn_list

0       HCA Healthcare (FKA Hospital Corporation of Am...
1                                     CommonSpirit Health
2                                        Ascension Health
3                 Trinity Health (FKA CHE Trinity Health)
4                                       Kaiser Permanente
                              ...
1103                VA Northwest Health Network (VISN 20)
1104                        Stars Behavioral Health Group
1105    University of Maryland Capital Region Health (...
1106       VA Desert Pacific Healthcare Network (VISN 22)
1107                  Montrose Behavioral Health Hospital
Name: IDN Name, Length: 1108, dtype: object

In [170]:
new_list = []
for name in idn_list:
    if 'FKA' in name:
        split_name = name.split(' (FKA ')
        new_name_list = [x.replace(")","") for x in split_name]
        for new_name in new_name_list:
            new_list.append(new_name)
            continue
        continue
    if 'AKA' in name:
        split_name = name.split(' (AKA ')
        new_name_list = [x.replace(")","") for x in split_name]
        for new_name in new_name_list:
            new_list.append(new_name)
            continue
        continue
    if 'FKA' or 'AKA' not in name:
        new_list.append(name)

In [174]:
#new_list

In [177]:
# Column contains particular value by multiple strings.
idn_names = '|'.join(new_list)
contacts_IDN_match = df[df['Company'].str.contains(idn_names)]
contacts_IDN_match

/var/folders/zb/pm54_ytj0j970x5kd91_fp500000gn/T/ipykernel_66767/2515484547.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  contacts_IDN_match = df[df['Company'].str.contains(idn_names)]

,First Name,Last Name,Email Address,Company,Position,Connected On
11,Dr. Emir,"Leslie, DBA, MBA, MHS",NaN,Hawaii Pacific Health,Medical Sub-Specialty Practice Manager (Straub...,13-Dec-22
96,Sheri,Shapiro,NaN,Trinity Health (HQ Michigan),"SVP, Chief Strategy Officer",24-Oct-22
169,Daniel,Grossman,NaN,Mayo Clinic,Emergency Medicine Physician,20-Sep-22
227,Brian,"Livingston, MD, MBA",bjlivingston@hotmail.com,MultiCare Health System,President and Chief Physician Officer,11-Sep-22
254,Reed,Nelson MD MPH,NaN,Intermountain Healthcare,Associate Medical Director of Acute Pain Services,8-Sep-22
...,...,...,...,...,...,...
10675,David,Altman,NaN,Mass General Brigham,Digital Marketing Manager (Research Content),12-Feb-13
10778,Maureen,"Fagan, DNP, MHA,FNP-BC, FAAN",NaN,University of Miami Health System,"Chief Nursing Executive, University of Miami H...",1-Jun-12
10845,Anu,Swaminathan,NaN,Mass General Brigham,"Director, Scientific Programs & Partnerships",27-Feb-12
10884,David,"Hurwitz MD, MBA",NaN,Johns Hopkins Medicine,Fellow,15-Nov-11
11320,Patrik,Silén,NaN,Phoebe Philo,Managing Director,30-Jul-07

In [178]:
# export as csv
contacts_IDN_match.to_csv('contacts_IDN_match.csv')